// @import './iconfont.css';
@import '@tuniao/tn-style/dist/uniapp/index.css';
.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root,
page {
  font-size: 28rpx;
  line-height: 1;
  color: #0b1526;
  /* 禁止双击放大 */
  touch-action: manipulation;
  // background-color: #f8f9fa;
  background-color: #1a1d25;

  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}

#container {
  height: 100vh;
}
/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  #container {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}
/* stylelint-disable selector-type-no-unknown */
button::after {
  border: none;
}

swiper,
scroll-view {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
